@model MountainSocialNetwork.Web.ViewModels.NewsFeed.EditProfileInputModel


    <div class="container">
        <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                <div class="card p-3">
                    <div class="e-navlist e-navlist--active-bg">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="./users.html"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
                            <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                @if (Model.PictureURL != null)
                                                {
                                                    <img  class="rounded-circle" width="155" height="125"src="@Model.PictureURL"/>
                                                }
                                                else
                                                {
                                                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                        <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.FirstName  @Model.LastName</h4>
                                                <div class="text-black">Register on <medium>@Model.CreatedOn</medium></div>
                                                <div class="mt-2">
                                                </div>
                                            </div>
                                            <div class="text-center text-sm-right">
                                                <span class="badge badge-secondary">User</span>

                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form method="post" asp-action="EditProfile" asp-controller="NewsFeed" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label asp-for="FirstName"></label>
                                                                    <input asp-for="FirstName" class="form-control" />
                                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label asp-for="Town"></label>
                                                                    <input asp-for="Town" class="form-control" />
                                                                    <span asp-validation-for="Town" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label asp-for="LastName"></label>
                                                                    <input asp-for="LastName" class="form-control" />
                                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="form-group">
                                                            <label asp-for="BirthDay"></label>
                                                            <input asp-for="BirthDay" class="form-control" />
                                                            <span asp-validation-for="BirthDay" class="text-danger"></span>
                                                        </div>
                                                        <br />
                                                        <div class="form-group">
                                                            <label asp-for="ProfilePicture">Upload Profile Picture</label>
                                                            <input asp-for="ProfilePicture" multiple />
                                                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="CoverPhoto">Upload Cover Picture</label>
                                                            <input asp-for="CoverPhoto" multiple />
                                                            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <div class="form-group">
                                                                    <label asp-for="Description">About you</label>
                                                                    <textarea class="form-control" rows="5" asp-for="Description" placeholder="Something about you..."></textarea>
                                                                    <span asp-validation-for="Description" class="text-danger"></span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 mb-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="px-xl-3">
                                    <button class="btn btn-block btn-secondary">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Support</h6>
                                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                <button type="submit" class="btn btn-primary">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>