@{
    this.ViewData["Title"] = "Alredy Friend";

}



<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">Why?</span>
                <div class="mb-4 lead">You are alredy friend with this person or you have sent a request but there is no answer.</div>
                <a asp-action="NewsFeedContent" asp-controller="NewsFeed" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
