@{
    this.ViewData["Title"] = "Administrator Page!";
}
<br />
<div class="jumbotron">
    <h1 class="display-4">Welcome to administrator Page!</h1>
    <p class="lead">This is a simple administration, where you can edit, delete all users actions for whole website.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-primary" asp-controller="Administrator" asp-action="NewsFeedPost" role="button">Administration for NewsFeedPost</a> <a class="btn btn-primary btn-primary" asp-controller="Administrator" asp-action="Articles" role="button">Administration for Articles</a>
</div>