@using MountainSocialNetwork.Common
@{ this.ViewData["Title"] = "Home Page";
    
<link href="~/css/background.css" rel="stylesheet" />
}


@*<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</header>*@
