@{
    this.ViewData["Title"] = "Administrator Page!";
}
<br />
<div class="jumbotron">
    <h1 class="display-4">Welcome to administrator Page!</h1>
    <p class="lead">This is a simple administration, where you can edit, delete all users actions for whole website.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-primary" asp-area="Administration" asp-controller="Administration" asp-action="NewsFeedPost" role="button">Administration for NewsFeedPost</a> <a class="btn btn-primary btn-primary" asp-area="Administration" asp-controller="Administration" asp-action="Articles" role="button">Administration for Articles</a> <a class="btn btn-primary btn-primary" asp-area="Administration" asp-controller="Administration" asp-action="NewsFeedComments" role="button">Administration for NewsFeedComments</a> <a class="btn btn-primary btn-primary" asp-area="Administration" asp-controller="Administration" asp-action="Categories" role="button">Administration for Categories</a> <a class="btn btn-primary btn-primary" asp-area="Administration" asp-controller="Administration" asp-action="ArticleComments" role="button">Administration for Articles Comment</a>
</div>