<br />
<div>

    <p class="text-md-center">
        <h5>
           Here you can find 5-day forecast meteogram.
           Our 5-day meteogram offers all weather information in 3 simple graphs:

        </h5>
    </p>
    <ul>
        <li>
            Temperature chart with weather pictograms. The time from sunrise to sunset is indicated in light yellow.

        </li>
        <li>
            Clouds in different altitudes: from few clouds (light grey) to overcast (dark grey). Dark blue bars show hourly precipitation and light blue showers. An asterisk indicates snow fall.
        </li>
        <li>

            Forecasts for wind speeds are blue and for gusts are green. The arrowheads point in the same direction as the wind.
            You can see meteogram for the following peaks: Botev, Vihren, Musala.
            Тhanks to МeteoBlue for the information provided
        </li>
    </ul>


</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img width="880" height="610" src="//my.meteoblue.com/visimage/meteogram_web?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=%D0%91%D0%BE%D1%82%D0%B5%D0%B2&iso2=bg&lat=42.716702&lon=24.916700&asl=2376&tz=Europe%2FSofia&lang=bg&sig=b9c0514e40ce5466df82a317f41e7d1b" srcset="//my.meteoblue.com/visimage/meteogram_web_hd?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=%D0%91%D0%BE%D1%82%D0%B5%D0%B2&iso2=bg&lat=42.716702&lon=24.916700&asl=2376&tz=Europe%2FSofia&lang=bg&sig=2aee5951b298c60b1b89c5ceb22d69b1 1.4x" alt="Meteogram - 5 days - Ботев"><a href="https://www.meteoblue.com/bg/%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D1%82%D0%BE/%D1%81%D0%B5%D0%B4%D0%BC%D0%B8%D1%86%D0%B0/%d0%91%d0%be%d1%82%d0%b5%d0%b2_republika-b%c5%adlgariya_733015" target="_blank" style="display: block;">Времето Ботев - meteoblue</a>
        </div>
        <br />

        <div class="col-sm">
            <img width="880" height="610" src="//my.meteoblue.com/visimage/meteogram_web?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=Vihren&iso2=bg&lat=41.767502&lon=23.398899&asl=2914&tz=Europe%2FSofia&lang=en&sig=7d3faa0adf71cc941b9faf2800977ed2" srcset="//my.meteoblue.com/visimage/meteogram_web_hd?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=Vihren&iso2=bg&lat=41.767502&lon=23.398899&asl=2914&tz=Europe%2FSofia&lang=en&sig=d37d5bfd4025a306169d3f89271e373c 1.4x" alt="Meteogram - 5 days - Vihren"><a href="https://www.meteoblue.com/en/weather/week/vihren_bulgaria_725894" target="_blank" style="display: block;">Weather Vihren - meteoblue</a>
        </div>
        <br />

        <div class="col-sm">
            <img width="880" height="610" src="//my.meteoblue.com/visimage/meteogram_web?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=Musala&iso2=bg&lat=42.179298&lon=23.585199&asl=2925&tz=Europe%2FSofia&lang=en&sig=b73fd1a07b5d5848f3eb1c47e2cf662e" srcset="//my.meteoblue.com/visimage/meteogram_web_hd?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&temperature=C&windspeed=kmh&precipitationamount=mm&winddirection=3char&city=Musala&iso2=bg&lat=42.179298&lon=23.585199&asl=2925&tz=Europe%2FSofia&lang=en&sig=7845535d683ca0002b23a5b443e4ec90 1.4x" alt="Meteogram - 5 days - Musala"><a href="https://www.meteoblue.com/en/weather/week/musala_bulgaria_728902" target="_blank" style="display: block;">Weather Musala - meteoblue</a>
        </div>
    </div>
</div>